/*!
 * Andel Note App v1.0.0
 * Author: Mel Michael <Email: mel.michael@andela.co>
 */

 /* Custom Style*/
body {
	background-color: #ccc;
	margin-top: 30px;
}
#wrapper {
	width: 760px;
	height: 100%;
	background-color: #ccc;
}
.main-wrap{
	height: 600px;
}
.andel-static {
	width: 260px;
	height: 100%;
	background-color: rgb(51, 122, 183);
	float: left;
	border-right: 3px solid #535353;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;

}
.andel-list {
	width: 500px;
	height: 100%;
	background-color: #fdfdfd;
	float: right;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}
.logo{
	padding: 20px;
}
.app-name {
	width: 100%;
	background-color: #fafafa;
	padding: 0;
	margin: 0;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
}
.noteAppForm{
	width: 470px;
	/*height: 480px;*/
	position: relative;
	margin: 20px auto;
	padding: 20px;
	background-color: #f4f4f4;
	border-collapse: separate;
	border: 1px dashed #535353;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 300;
}
.panel {
	cursor: pointer;
}